@model Exception
@{
    ViewBag.Title = "Ошибка!";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Page = "page-error";
}
<div class="row">
    <div class="offset-md-4 col-md-4 offset-sm-2 col-sm-6">

        <h1 class="text-center">@Model.Message</h1>
        @if (Model.Data["code"] != null)
        {
            <h3 class="text-center">@Model.Data["code"]</h3>
        }
    </div>
</div>